.root {
    -fx-background-color: linear-gradient(from 500px 500px to 100px 100px, #3e9892, #0f2a39);
    -fx-font-family: 'Poppins';
    -fx-text-fill: #b98fc7;
}

.titulo{
    -fx-text-fill: rgb(53, 126, 121);
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 10 0;
    -fx-alignment: center;
    -fx-effect: dropshadow(three-pass-box, rgb(26, 11, 70), 1, 1, 0, 0);
}

.txtInicial{
    -fx-text-fill: #0f2a39;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-padding: 0 0 10 0;
    -fx-alignment: center;
}

.btnIniciar{
    -fx-background-color: #3e9892;
    -fx-text-fill: #1a0b46;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-background-radius: 8;
    -fx-padding: 10 40;
    -fx-effect: dropshadow(three-pass-box, rgba(138,43,226,0.4), 20, 0, 0, 0);
}

.btnIniciar:hover {
    -fx-background-color: #49b0a9;
}
.btnIniciar:pressed {
    -fx-background-color: #35807b;
}

.content-area {
    -fx-background-color: #0D0D10;
}

.sdrContador{
    -fx-color: #0f2a39;
    -fx-text-fill: #000000;
}
.sdrContador:hover{
    -fx-color: #1d4e69;
}

